<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Coinmarketcap
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Coinmarketcap
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-container *ngIf="data.dataLoaded; else spinner">
        
            <app-cmc-list-item *ngFor="let coin of data.listData" [coin]="coin"></app-cmc-list-item>
       
    </ng-container>
    <ng-template #spinner>
        <ion-spinner></ion-spinner>
    </ng-template>

</ion-content>